 
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    direction: rtl;
  }
  
  body {
    @apply font-['Cairo'] bg-gray-50 text-gray-900;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary hover:bg-primary-600;
    border-radius: 5px;
  }
}

 