 
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    direction: rtl;
  }
  
  body {
    @apply font-['Cairo'] bg-gray-50 text-gray-900;
  }
}

 